
*{
    margin:0;
    background-image: linear-gradient(-90deg,);
    
    text-shadow: 1px 1px 1px black, 0 0 10px black, 0 0 6px white;
}
.p-2{
    background-color: black;
    color: white;
}

body {
    
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
h3{
    font-weight: bold;
}
.forecast{
    
    font-size: .9em;
    }
span{
    font-size: 1em;
    
}
li:hover{
    background-color: skyblue;
    text-decoration: underline;
}
.foot h3{
    color: white;
    text-align: center;
    background-color: black;
    padding: 10px;
    margin-top: 50px;
}